* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1300px;
}

#bactop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: gray;
  font-size: 40px;
  display: none;
  z-index: 999;
}
@media (max-width: 700px) {
  #bactop {
    font-size: 30px;
  }
}

.show__backtop {
  display: block !important;
}

header nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 9999;
  padding: 20px 0px;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .container .nav-logo a img {
  width: 120px;
}
header nav .container #check,
header nav .container .open,
header nav .container .close,
header nav .container .close1 {
  display: none;
}
header nav .container .nav-menu ul {
  display: flex;
  gap: 22px;
  align-items: center;
}
header nav .container .nav-menu ul li {
  font-size: 18px;
}
header nav .container .nav-menu ul li a {
  padding: 3px 10px;
  border: 1.5px solid transparent;
  border-radius: 3px;
  transition: 0.5s;
}
header nav .container .nav-menu ul li a:hover {
  color: white;
  background: black;
  box-shadow: 3px 4px rgb(82, 81, 81), 7px 7px 15px rgba(0, 0, 0, 0.541);
}
header nav .container .nav-kirish {
  border: 2px solid black;
  padding: 8px 18px;
  border-radius: 3px;
  font-size: 17px;
  transition: 0.5s;
}
header nav .container .nav-kirish:hover {
  color: white;
  background: black;
  box-shadow: 3px 4px rgb(82, 81, 81), 7px 7px 15px rgba(0, 0, 0, 0.541);
}
header .head {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  align-items: center;
}
header .head-left {
  width: 50%;
  position: relative;
}
header .head-left h1 {
  font-size: 55px;
}
header .head-left h2 {
  display: none;
}
header .head-left p {
  padding: 30px 0px;
  width: 70%;
  color: #8f95a5;
  font-size: 18px;
}
header .head-left .button {
  padding: 15px 45px;
  background: #263238;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  border: none;
  border: 3px solid #263238;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  width: 200px;
}
header .head-left .button:hover {
  color: #263238;
  background: white;
  box-shadow: 7px 7px #263238, 5px 5px 15px black;
}
header .head-left .position-img {
  position: absolute;
  top: 10px;
  right: 13%;
}
header .head-left .position-img img {
  width: 90px;
}
header .head-right {
  width: 50%;
  display: flex;
}
header .head-right img {
  width: 100%;
}
@media (min-width: 1440px) {
  header .head {
    height: 600px;
  }
}

.show-nav__shrink {
  box-shadow: 0px 0px 10px gray;
  padding: 15px 0px !important;
}

@media (max-width: 920px) {
  .container {
    width: 86%;
  }
  .container header nav .nav-logo a img {
    width: 95px;
  }
  .container header nav .nav-menu ul {
    gap: 10px;
  }
  .container header nav .nav-menu ul li {
    font-size: 16px;
  }
  .container header nav .nav-kirish {
    font-size: 15px;
    padding: 5px 10px;
  }
  .container header .head {
    padding-top: 0;
  }
  .container header .head-left h1 {
    font-size: 40px;
  }
  .container header .head-left p {
    font-size: 16px;
  }
  .container header .head-left .button {
    padding: 7px 16px;
    font-size: 16px;
    width: 130px;
  }
  .container header .head-left .button:hover {
    box-shadow: 5px 5px #263238, 5px 5px 10px black;
  }
  .container header .head-left .position-img {
    right: 20%;
  }
  .container header .head-left .position-img img {
    width: 60px;
  }
  .container header .head-right img {
    height: auto;
  }
}
@media (max-width: 710px) {
  .container {
    width: 90%;
  }
  .container header nav .open {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
  .container header nav #check:checked ~ .nav-menu {
    left: 0;
  }
  .container header nav #check:checked ~ .close {
    right: 0;
  }
  .container header nav .close {
    top: 0;
    right: -100%;
    display: block;
    cursor: pointer;
    position: fixed;
    transition: 0.6s;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.581);
    z-index: 5;
  }
  .container header nav .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 60%;
    background: black;
    color: white;
    z-index: 10;
    transition: 1s;
  }
  .container header nav .nav-menu .close1 {
    display: block;
    color: white;
    right: 30px;
    top: 20px;
    cursor: pointer;
    position: absolute;
  }
  .container header nav .nav-menu .close1:hover {
    opacity: 0.9;
  }
  .container header nav .nav-menu ul {
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 30px;
  }
  .container header nav .nav-menu ul li {
    font-size: 20px;
  }
  .container header nav .nav-menu ul li a:hover {
    box-shadow: 3px 3px red, 5px 5px 10px white;
  }
  .container header nav .nav-kirish {
    display: none;
  }
  .container header .head {
    height: 100%;
    padding-bottom: 50px;
  }
  .container header .head .head-right img {
    height: 80%;
  }
}
@media (max-width: 530px) {
  .container header .head {
    flex-direction: column;
  }
  .container header .head-left {
    width: 100%;
    order: 2;
    text-align: center;
  }
  .container header .head-left .position-img {
    display: none;
  }
  .container header .head-left h1 {
    display: none;
  }
  .container header .head-left h2 {
    display: block;
    font-size: 35px;
  }
  .container header .head-left p {
    width: 100%;
    padding: 15px 0px;
  }
  .container header .head-left .button {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0px;
    font-size: 16px;
  }
  .container header .head-right {
    order: 1;
    width: 100%;
  }
}
@media (max-width: 365px) {
  .container header nav .nav-logo img {
    width: 80px;
  }
  .container header nav ul li {
    font-size: 16px;
  }
  .container header .head .head-left h2 {
    font-size: 25px;
  }
  .container header .head .head-left p {
    font-size: 16px;
  }
  .container header .head .head-left .button {
    width: 80%;
  }
}
@media (max-width: 170px) {
  .container header nav ul li {
    font-size: 13px;
  }
}
main .skils h2 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
}
main .skils .skil {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2);
  row-gap: 20px;
  justify-content: space-between;
}
main .skils-speak, main .skils-write, main .skils-read, main .skils-listen {
  padding: 0px 25px 20px;
  background: #F5F5F5;
}
main .skils-speak h3, main .skils-write h3, main .skils-read h3, main .skils-listen h3 {
  font-size: 20px;
  padding: 10px 0px;
}
main .skils-speak p, main .skils-write p, main .skils-read p, main .skils-listen p {
  color: #8F95A5;
  font-size: 14px;
  padding: 10px 0px;
}
main .skils-speak .link, main .skils-write .link, main .skils-read .link, main .skils-listen .link {
  padding: 6px 0px;
  margin: 10px 0px;
  background: #263238;
  color: white;
  width: 120px;
  text-align: center;
  border-radius: 4px;
  border: 1.5px solid #263238;
  font-weight: 600;
  font-size: 16px;
  transition: 0.6s;
}
main .skils-speak .link:hover, main .skils-write .link:hover, main .skils-read .link:hover, main .skils-listen .link:hover {
  color: #263238;
  background: transparent;
  box-shadow: 5px 5px #263238, 5px 5px 15px black;
}
main .skils-read-img, main .skils-write-img {
  width: 90%;
  height: 220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
main .skils-read-img img, main .skils-write-img img {
  width: 100%;
}
main .skils-speak {
  grid-row: 1/3;
}
main .skils-speak-img {
  width: 100%;
}
main .skils-speak-img img {
  width: 100%;
}
main .skils-listen {
  display: flex;
  align-items: center;
  grid-column: 2/4;
  padding-top: 20px;
}
main .skils-listen-img {
  width: 100%;
}
main .skils-listen-img img {
  width: 100%;
}

@media (max-width: 1030px) {
  main .skils-read-img, main .skils-write-img {
    width: 100%;
    height: 45%;
  }
  main .skils-read-img img, main .skils-write-img img {
    width: 100%;
  }
  main .skils-speak-img {
    width: 100%;
  }
  main .skils-speak-img img {
    width: 100%;
  }
  main .skils-listen-img {
    width: 100%;
  }
  main .skils-listen-img img {
    width: 100%;
  }
}
@media (max-width: 670px) {
  .container main .skils .skil {
    grid-template-columns: repeat(2, 48%);
  }
  .container main .skils-speak {
    grid-row: 1/2;
  }
  .container main .skils-speak-img {
    display: flex;
    align-items: center;
  }
  .container main .skils-speak-img img {
    width: 100%;
  }
  .container main .skils-listen {
    grid-column: 2/3;
    flex-direction: column;
  }
  .container main .skils-listen-img {
    order: 1;
  }
  .container main .skils-listen-left {
    order: 2;
  }
  .container main .skils-speak-img, .container main .skils-read-img, .container main .skils-write-img, .container main .skils-listen-img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 400px) {
  .container main .skils .skil {
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(4);
  }
  .container main .skils-listen {
    grid-column: 1/2;
  }
  .container main .skils-speak h3, .container main .skils-write h3, .container main .skils-read h3, .container main .skils-listen h3 {
    font-size: 18px;
  }
  .container main .skils-speak .link, .container main .skils-write .link, .container main .skils-read .link, .container main .skils-listen .link {
    font-size: 14px;
    width: 70%;
  }
}
@media (max-width: 200px) {
  .container main .skils-speak .link, .container main .skils-write .link, .container main .skils-read .link, .container main .skils-listen .link {
    width: 100%;
  }
}
main .about {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .about-left {
  width: 45%;
}
main .about-left h2 {
  font-size: 30px;
}
main .about-left .text {
  font-size: 16px;
  padding: 20px 0px;
  color: #8F95A5;
}
main .about-left .info {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
main .about-left .info-bir {
  width: 33%;
}
main .about-left .info-bir h4 {
  font-size: 30px;
  color: #2A3246;
}
main .about-left .info-bir p {
  font-size: 14px;
  color: #8F95A5;
}
main .about-right {
  width: 40%;
}
main .about-right img {
  width: 100%;
}
@media (max-width: 600px) {
  main .about {
    flex-direction: column;
  }
  main .about-left {
    order: 2;
    width: 80%;
  }
  main .about-right {
    order: 1;
    width: 70%;
  }
}
@media (max-width: 400px) {
  main .about {
    flex-direction: column;
  }
  main .about-left {
    order: 2;
    width: 100%;
  }
  main .about-right {
    order: 1;
    width: 90%;
  }
}
@media (max-width: 250px) {
  main .about {
    flex-direction: column;
  }
  main .about-left h2 {
    font-size: 20px;
  }
  main .about-left p {
    font-size: 12px;
    padding: 15px;
  }
  main .about-left .info {
    flex-direction: column;
    align-items: center;
  }
  main .about-left .info-bir {
    width: 100%;
  }
  main .about-right {
    order: 1;
    width: 100%;
  }
}
main .pricing {
  padding: 50px 0px;
}
main .pricing h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px 0px;
}
main .pricing-elements {
  display: flex;
  justify-content: space-between;
}
main .pricing-element {
  width: 30%;
}
main .pricing-element-img {
  height: 60%;
  display: flex;
  align-items: center;
}
main .pricing-element-img img {
  width: 100%;
}
main .pricing-element h3 {
  font-size: 18px;
  padding: 10px 0px;
  height: 12%;
}
main .pricing-element p {
  color: #8F95A5;
  font-size: 15px;
  height: 30%;
  padding: 10px 0px;
  width: 90%;
}
main .pricing-element .link a {
  padding: 10px 18px;
  background: #EEEEEE;
  color: #546269;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.8s;
}
main .pricing-element .link a span {
  color: #263238;
  font-size: 20px;
  padding: 0px 5px;
  transition: 0.7s;
}
main .pricing-element .link a:hover {
  background: #546269;
  color: white;
  box-shadow: 5px 5px #263238, 5px 5px 10px black;
}
main .pricing-element .link a:hover span {
  color: white;
}
@media (max-width: 660px) {
  main .pricing h2 {
    font-size: 30px;
  }
  main .pricing p {
    font-size: 14px;
  }
  main .pricing-element p {
    height: 35%;
  }
  main .pricing-element .link a {
    font-size: 14px;
    padding: 8px 10px;
  }
  main .pricing-element .link a span {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  main .pricing-elements {
    flex-direction: column;
    row-gap: 20px;
  }
  main .pricing h3 {
    font-size: 20px;
  }
  main .pricing p {
    font-size: 16px;
  }
  main .pricing-element {
    width: 80%;
    margin: 0 auto;
  }
  main .pricing-element p {
    height: 35%;
  }
  main .pricing-element .link a {
    font-size: 16px;
  }
  main .pricing-element .link a span {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  main .pricing h2 {
    font-size: 28px;
  }
  main .pricing-element {
    width: 90%;
  }
}
@media (max-width: 275px) {
  main .pricing h2 {
    font-size: 24px;
  }
  main .pricing h3 {
    font-size: 18px;
  }
  main .pricing p {
    font-size: 14px;
  }
  main .pricing-element {
    width: 100%;
    margin: 0 auto;
  }
  main .pricing-element p {
    height: 35%;
  }
  main .pricing-element .link a {
    font-size: 14px;
  }
  main .pricing-element .link a span {
    font-size: 16px;
  }
}

footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px;
  width: 100%;
}
footer .top-left {
  width: 35%;
}
footer .top-left img {
  width: 100%;
}
footer .top-right {
  width: 50%;
}
footer .top-right h2 {
  font-size: 35px;
  padding: 10px 0px;
}
footer .top-right p {
  font-size: 16px;
  color: #8F95A5;
  padding: 20px 0px;
}
footer .top-right form {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 10px;
}
footer .top-right form input {
  padding: 15px 40px 15px 20px;
  border-radius: 6px;
  border: 1px solid #8F95A5;
  color: #8F95A5;
  width: 60%;
}
footer .top-right form input:active {
  outline: none;
  border: none;
}
footer .top-right form button {
  padding: 15px 30px;
  border-radius: 8px;
  background: #263238;
  color: white;
  border: 1.5px solid #263238;
  font-size: 14px;
  font-weight: 600;
  transition: 0.6s;
}
footer .top-right form button:hover {
  background: transparent;
  color: #263238;
  box-shadow: 5px 5px #263238, 7px 7px 20px black;
}
footer .bottom {
  border-top: 1px solid #8F95A5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
@media (max-width: 820px) {
  footer .top .top-right form {
    flex-direction: column;
    align-items: center;
  }
  footer .top .top-right form input {
    width: 100%;
    margin-bottom: 15px;
  }
  footer .top .top-right form button {
    width: 60%;
  }
}
@media (max-width: 600px) {
  footer .top-left {
    width: 50%;
  }
  footer .top-right h2 {
    font-size: 25px;
  }
  footer .top-right p {
    font-size: 15px;
  }
  footer .bottom-logo {
    width: 15%;
  }
  footer .bottom-logo img {
    width: 100%;
  }
  footer .bottom p {
    font-size: 14px;
  }
}
@media (max-width: 470px) {
  footer .top {
    flex-direction: column;
  }
  footer .top-left {
    width: 80%;
  }
  footer .top-right {
    width: 90%;
  }
  footer .top-right h2 {
    font-size: 25px;
  }
  footer .top-right p {
    font-size: 15px;
  }
  footer .bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  footer .bottom-logo {
    width: 90px;
  }
}
@media (max-width: 250px) {
  footer .top-left {
    width: 90%;
  }
  footer .top-right {
    width: 100%;
  }
  footer .top-right form {
    width: 100%;
  }
  footer .top-right form input {
    padding: 15px 10px;
  }
  footer .top-right form button {
    font-size: 13px;
    padding: 15px 5px;
  }
  footer .bottom-logo {
    width: 80px;
  }
}/*# sourceMappingURL=main.css.map */